@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --clr-primary--card: hsl(246, 80%, 60%);
  --clr-primary--work: hsl(15, 100%, 70%);
  --clr-primary--play: hsl(195, 74%, 62%);
  --clr-primary--study: hsl(348, 100%, 68%);
  --clr-primary--exercise: hsl(145, 58%, 55%);
  --clr-primary--social: hsl(264, 64%, 52%);
  --clr-primary--self-care: hsl(43, 84%, 65%);
  --clr-neutral--100: hsl(236, 100%, 87%);
  --clr-neutral--300: hsl(235, 45%, 61%);
  --clr-neutral--500: hsl(235, 46%, 20%);
  --clr-neutral--900: hsl(226, 43%, 10%);
  --ff-primary: 'Rubik', sans-serif;
  --br: 1em;
}

/*------ Global Settings------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Body Styling */

body {
  background-color: var(--clr-neutral--900);
  color: var(--clr-neutral--100);
  font-family: var(--ff-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

/*------ Grid for all cards------*/

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  padding: 2rem;
  width: 70%;
  max-width: 90%;

}

/*------ Main card------*/

.main_card {
  grid-column: 1/2;
  background-color: var(--clr-neutral--500);
  border-radius: var(--br);
}

.main_personal_info {
  background-color: var(--clr-primary--card);
  border-radius: var(--br);
}

/*------ Nested Grid for  cards------*/

.cards {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 2rem;
}

/*Styling small cards*/

.card {
  background-color: var(--clr-neutral--500);
  border-radius: var(--br);
  position: relative;
  height: 20rem;
}

/*Styling top of the cards*/

.card--bg {
  height: 5rem;
  border-radius: var(--br);
  display: flex;
  justify-content: end;
}

.card__work--background {
  background-color: var(--clr-primary--work);
}

.card__play--background {
  background-color: var(--clr-primary--play);
}

.card__study--background {
  background-color: var(--clr-primary--study);
}

.card__exercise--background {
  background-color: var(--clr-primary--exercise);
}

.card__social--background {
  background-color: var(--clr-primary--social);
}

.card__self-care--background {
  background-color: var(--clr-primary--self-care);
}

.card__svg {}

/*Styling small cards content*/

.card__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--clr-neutral--500);
  border-radius: var(--br);
  box-shadow: -2px -7px 22px 4px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: -2px -7px 22px 4px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: -2px -7px 10px 4px rgba(0, 0, 0, 0.68);
  color: whitesmoke;
}

.card__name--holder {
  display: flex;
  justify-content: space-between;
}

.card_name {
  font-weight: 500;
  font-size: 1.5vh;
}

.card__time--current {
  font-size: 5vh;
  padding-top: 2rem;
  font-weight: 300;
}

.card__time--previous {
  color: var(--clr-neutral--100);
}

.hidden {
  display: none;
}