@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --clr-primary--card: hsl(246, 80%, 60%);
  --clr-primary--work: hsl(15, 100%, 70%);
  --clr-primary--play: hsl(195, 74%, 62%);
  --clr-primary--study: hsl(348, 100%, 68%);
  --clr-primary--exercise: hsl(145, 58%, 55%);
  --clr-primary--social: hsl(264, 64%, 52%);
  --clr-primary--self-care: hsl(43, 84%, 65%);
  --clr-neutral--100: hsl(236, 100%, 87%);
  --clr-neutral--300: hsl(235, 45%, 61%);
  --clr-neutral--500: hsl(235, 46%, 20%);
  --clr-neutral--900: hsl(226, 43%, 10%);
  --ff-primary: 'Rubik', sans-serif;
  --br: 0.7em;
}

/*------ Global Settings------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Body Styling */

body {
  height: 100vh;
  background-color: var(--clr-neutral--900);
  color: var(--clr-neutral--100);
  font-family: var(--ff-primary);
  /* font-size: 3vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.main_card {
  grid-column: 1/2;
  background-color: var(--clr-neutral--500);

}

.cards {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1rem;
}


.main_personal_info {
  background-color: var(--clr-primary--card);
}

.card {
  background-color: var(--clr-neutral--500);
}

.card__work-background {
  background-color: var(--clr-primary--work);
}