@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --clr-primary--card: hsl(246, 80%, 60%);
  --clr-primary--work: hsl(15, 100%, 70%);
  --clr-primary--work: hsl(195, 74%, 62%);
  --clr-primary--study: hsl(348, 100%, 68%);
  --clr-primary--exercise: hsl(145, 58%, 55%);
  --clr-primary--social: hsl(264, 64%, 52%);
  --clr-primary--self-care: hsl(43, 84%, 65%);
  --clr-neutral--100: hsl(236, 100%, 87%);
  --clr-neutral--300: hsl(235, 45%, 61%);
  --clr-neutral--500: hsl(235, 46%, 20%);
  --clr-neutral--900: hsl(226, 43%, 10%);
  --ff-primary: 'Rubik', sans-serif;
  --br: 0.7em;
  --linear-grad: linear-gradient(to left top, #003580, #00458f, #00569d, #0066aa, #0077b7, #0086c1, #0095cb, #00a4d3, #00b5d9, #00c5d8, #00d5d2, #00e3c6);
  --linear-grad-menu: linear-gradient(to bottom, #00e3c6 5%, #1e62d0 100%);
}